{% extends 'base.html' %}

{% block sidebar %}
<form method="get" action="{% url 'index' %}">
    {{ form }}
    <input class="btn btn-primary" type="submit" name="Filter results">
    <a href="{% url 'index' %}?reset=true" class="btn btn-secondary">Reset filters</a>
</form>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th><a href="{% url 'index'%}?sort=name"> Name </a>
        <th><a href="{% url 'index'%}?sort=description"> Description </a>
        <th><a href="{% url 'index'%}?sort=minimum_age_appropriate"> Ages </a>
        <th><a href="{% url 'index'%}?sort=price"> Prices </a>
        <th>Image</th>
    </thead>
    <tbody>
{% for p in products %}
    <tr>
        <td><a href="{% url 'show' p.id %}">{{ p.name }}</a>
        <td>{{ p.description|truncatewords:5 }}
        <td class="right">{{ p.age_range }}
        <td class="right">{{ p.price|floatformat:2 }}
        {% with img=p.random_image %}
          {% if img != None %}
            {% if img.height_field > img.width_field %}
                <td><img src="{{ img.image.url }}" height = 100 alt="{{ img.caption }}"></img>
            {% else %}
                <td><img src="{{ img.image.url }}" width = 100 alt="{{ img.caption }}"></img>
            {% endif %}
          {% endif %}
        {% endwith %}  
{% endfor %}
    </tbody>
</table>
{% endblock %}

